/* GERAL */
* {
  box-sizing: border-box;
  cursor: pointer;
}

body {
  background-color: rgb(214, 192, 249);
  font-family: 'Open Sans', sans-serif;

}

/* CONTEÚDO */

main {
  background-color: white;
  width: 30%;
  margin: 5% auto;
  padding: 20px 0px 5px 0px;
  border-radius: 2%;
}

h1 {
  font-size: 20px;
  text-shadow: 0px 0px 1px rgba(7, 15, 13, 0.726);
  text-align: center; 
  padding: 15px;
}

tr td {
  width: 100%;
}

td {
  border-bottom: .5px solid rgba(161, 160, 160, 0.288);
  padding: 10px;
}

table {
  border-collapse: collapse;
}

/*BOTÕES*/

.btn__adicionar {
  background-color: #7050bb;
  width: 100%;
  display: block;
  border: none;
  color: white;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 15px;
}

.btn__adicionar:hover {
  background-color: #7050bbd0;
}

.adicionar__tarefa {
  width: 100%;
  height: 100px;
  padding: 30px;
}

.x {
  color: red;
  cursor: pointer;
  transform: all 1s;
}

.x:hover{
  transform: scale(1.5)
}

.btn__box {
  margin: 15px 30px 5px 30px;
  display: flex;
  justify-content: space-between; 
}

.btn {
  background-color: #7050bb;
  width: 35%;
  display: inline-block;
  border: none;
  color: white;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 2%;
}

.btn:hover{
  transform: scale(1.1)
}

.btn__excluirTudo {
  background-color: rgba(241, 75, 75, 0.829)
}

.btn__checkAll {
  background-color: rgba(61, 161, 61, 0.644);
}

.tarefa:hover {
  text-shadow: 0px 0px 1px rgba(128, 128, 128, 0.685);
  background-color: rgba(19, 14, 14, 0.116);
}
